*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
    --heading-font: 'Poppins';
    --body-font: Work-Sans;
}

body{font-family:var(--body-font) ;}